.footer{
    width: 100%;
    background: linear-gradient(109.6deg,rgb(19, 47, 82,0.3) 0.05%,rgba(9, 13, 22) 10%, rgb(36, 59, 85,0.5) 80%,rgb(19, 47, 82,0.5) 91.1%);
    font-family: 'Russo One', sans-serif;
}