@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Mitr:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
  scroll-margin: 10rem;
  font-family: "IBM Plex Sans Thai", sans-serif;
}

body{
  background: radial-gradient(50% 50% at 50% 50%, #1a2327 0, #0f0f0f 100%);
  min-height: calc(100vh);
  max-width: 100vw;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}